#main_title{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
  color: white;
  text-align: left;
  margin-left: 33%;
  margin-right: 5%;
}

#body, #output{
  margin-left: 3%;
  margin-right: 3%;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
  color: white;
  text-align: left;
  margin-left: 33%;
  margin-right: 5%;
}

.bg_image {
    min-height:600px;
    max-height:1200px;
	/* background: url("https://images.unsplash.com/photo-1620301505223-dc10c8ea47cb?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background: url("https://images.unsplash.com/photo-1620301505052-d0ad97309dfd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: 100% auto;
	background-repeat: repeat-y;
}

#input {
  margin-left:5%;
  margin-right: 5%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#button {
  font-size: 20px;
  background-color: rgb(90, 0, 0);
  border-radius: 15px;
  width: auto;
  color: white;
  padding: 15px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #ffffff;
  box-shadow: 0 8px 16px 0 rgba(237, 234, 234, 0.2), 0 6px 20px 0 rgba(223, 219, 219, 0.19);
}

body, html {height:auto; width: auto;}
