<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Our CSS -->
  <link rel="stylesheet" type= "text/css" href="/static/css/style.css", filename="'templates/static/style.css">
  <title>Spice Up Your Life </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <!-- Background Image -->
  <div class ="bg_image">&nbsp;
  <!-- Webpage title -->
  <div id="main_title"><br><h1>Spice Up Your Life!</h1></div>
  <!-- Webpage body -->
  <section id="body">  
    <h2>Welcome to the best wine recommendation website!
      <br>We use state of the art algorithms to help you find your next favorite wine with personalized recommendations.</h2>
    <h3>Tell us how you like your wines:</h3>
    <!-- TEXT BOX: -->
      <input type="text" id="input"><br><br>
      <button onclick="sendData()" id="button">Get my recommendations!</button>
      <script> 
        function sendData() { 
            var value = document.getElementById('input').value; 
            $.ajax({ 
                url: '/process', 
                type: 'POST', 
                data: { 'data': value }, 
                success: function(response) { 
                    document.getElementById('output').innerHTML = response; 
                }, 
                error: function(error) { 
                    console.log(error); 
                } 
            }); } 
      </script> 

   <!-- DROP DOWN MENU: --> 
   <select id="user_input" onchange="onStateSelectChange(this.value)">
      <option value="tart">Tart</option>
      <option value="zesty">Zesty</option>
      <option value="angular">Angular</option> 
      <option value="acid">Acid</option>
      <option value="sweet">Sweet</option>
      <option value="austere">Austere</option>
      <option value="big">Big</option>
      <option value="buttery">Buttery</option>
      <option value="creamy">Creamy</option>
      <option value="dry">Dry</option>
      <option value="smoky">Smoky</option>
      <option value="complex">Complex</option>
      <option value="crips">Crisp</option>
      <option value="dense">Dense</option>
      <option value="earthy">Earthy</option>
      <option value="elegant">Elegant</option>
      <option value="fat">Fat</option>
      <option value="flabby">Flabby</option>
      <option value="flamboyant">Flamboyant</option>
      <option value="fleshy">Fleshy</option>
      <option value="foodfriendly">Food Friendly</option>
      <option value="grip">Grip</option>
      <option value="jammy">Jammy</option>
      <option value="juicy">Juicy</option>
      <option value="laserlike">Laser-Like</option>
      <option value="mineral">Mineral</option>
      <option value="oaked">Oaked</option>
      <option value="opulent">Opulent</option>
      <option value="refined">Refined</option>
      <option value="silky">Silky</option>
      <option value="steely">Steely</option>
      <option value="structured">Structured</option>
      <option value="tight">Tight</option>
      <option value="toasty">Toasty</option>
      <option value="unctuous">Unctuous</option>
      <option value="unoaked">Unoaked</option>
      <option value="velvety">Velvety</option>
      <option value="lush">Lush</option>
      <option value="smooth">Smooth</option>
    </select>
    <br>  <br>
  </section>
  
  <section id="body">
    <h2>Here are some wines you might like:</h2>
    <div id="output"><h3></h3></div> 
    <table class="wine_table">
        <tr id="wine_headers"></tr>
        <tr id="wine_name"></tr>
        <tr id="wine_category"></tr>
    </table>
    
    <div></div>


  </section>

  <div id="body">
  <h2>Where did we got all our info?</h2><br>
  <h3>Dataset</h3>    
  <h3>Here is the link for our kaggle dataset: </h3><br>
  <p>link here ✨</p>
  <h3>Wine descriptions and what they really mean:</h3><br>
  <p>link to wine folly ✨</p>
  <br><br><br><br><br><br><br>
  </div>

</div>
</body>
</html>
